/*
* Tinman.css | v1.0.0 | MIT | July 4th, 2017
* Copyright 2023, Selwyn Orren @ Linuxweb
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 04/07/2017
*/

/* Root Colouring
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--primary: #1EAEDB;
	--primary-hover: #0FA0CE;
	--secondary: #6f6f6f;
	--secondary-hover: #222222;
	--tertiary: #D1D1D1;
	--tertiary-hover: #BCBCBC;
	--body: #222222;
	--background: #FEFEFE;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	color: var(--body);
	background: var(--background);
}

/* Text link Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: var(--primary); }

a:hover {
	color: var(--primary-hover); }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	color: var(--secondary);
	border-color: var(--secondary);
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: var(--secondary-hover);
	border-color: var(--secondary-hover);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	background-color: #FFFfff;
	border-color: var(--tertiary);
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border-color: var(--primary);
}
.information-box {
		background-color: #e5f5f9;
		border-color: #cae0e5;
		color: #5a9bab;
}

.confirmation-box {
		background-color: #e7fae6;
		border-color: #b7cbb6;
		color: #52964f;
}

.error-box {
		background-color: #fde8e4;
		border-color: #e6bbb3;
		color: #cf4425;
}

.warning-box {
		background-color: #fdf7e4 ;
		border-color: #e5d9b2;
		color: #b28a0b;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	background: #F1F1F1;
	border-color: #E1E1E1;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
td, th {
	border-bottom-color: #E1E1E1; }

thead {
	background: #333;
	color: #fff;
	border-radius: 5px 5px 0 0;
}

tbody tr:hover,
tbody tr:nth-child(even):hover,
tbody tr:hover,
tbody tr:nth-child(odd):hover {
	background-color: #ebebeb;
}

tr:nth-child(even) { background: #F8F8F8; }

/* Blockquote
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
	background: #f9f9f9;
	border-left-color: #ccc;
}
blockquote:before {
	color: #ccc;
}
blockquote cite {
	color: #999999;
}

/* Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tooltip:hover:after {
	background: rgba(0,0,0,.8);
	color: #fff;
}
.tooltip:hover:before {
	border-color: #333 transparent;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	border-top-color: #E1E1E1; }


/* Custom link/text colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.white									{ color: #ffffff; }
.grey										{ color: #f9f9f9; }
.grey2									{ color: #f1f1f1; }
.greydark								{ color: #495052; }
.greydark2							{ color: #404547; }
.green									{ color: #6fc191; }
.blue										{ color: #74cee4; }
.violet									{ color: #c389ce; }
.orange									{ color: #ec774b; }
.red										{ color: #e16c6c; }
.pink										{ color: #efa7c9; }
.yellow									{ color: #edbf47; }
.greendark							{ color: #6ab78a; }
.bluedark								{ color: #6fc4d9; }
.violetdark							{ color: #ac7ab5; }
.orangedark							{ color: #df764e; }
.reddark								{ color: #c86969; }
.yellowdark							{ color: #e0b84e; }

a:hover.grey						{ color: #CCCCCC; }
a:hover.greydark				{ color: #2E3233; }
a:hover.green						{ color: #61A87E; }
a:hover.blue						{ color: #66B6CA; }
a:hover.violet					{ color: #AC78B5; }
a:hover.orange					{ color: #D46B43; }
a:hover.red							{ color: #C75F5F; }
a:hover.pink						{ color: #efa7c9; }
a:hover.yellow					{ color: #D4AB3F; }

/* Standard Background Colours*/
.bg_white								{ background-color: #ffffff; }
.bg_grey								{ background-color: #f9f9f9; }
.bg_grey2								{ background-color: #f1f1f1; }
.bg_greydark						{ background-color: #495052;}
.bg_greydark2						{ background-color: #404547;}
.bg_green								{ background-color: #6fc191; }
.bg_blue								{ background-color: #74cee4; }
.bg_violet							{ background-color: #c389ce; }
.bg_orange							{ background-color: #ec774b; }
.bg_red									{ background-color: #e16c6c; }
.bg_pink								{ background-color: #efa7c9; }
.bg_yellow							{ background-color: #edbf47; }
.bg_greendark						{ background-color: #6ab78a; }
.bg_bluedark						{ background-color: #6fc4d9; }
.bg_violetdark					{ background-color: #ac7ab5; }
.bg_orangedark					{ background-color: #df764e; }
.bg_reddark							{ background-color: #c86969; }
.bg_yellowdark					{ background-color: #e0b84e; }

.bg_gradient						{
													background: #74cee4; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
													background: -webkit-gradient(linear,  left top, right top,  from(#74cee4),color-stop(16%, #66ce9c),color-stop(32%, #edbf47),color-stop(49%, #ec774b),color-stop(65%, #74cee4),color-stop(83%, #66ce9c),to(#edbf47));
													background: linear-gradient(to right,  #74cee4 0%,#66ce9c 16%,#edbf47 32%,#ec774b 49%,#74cee4 65%,#66ce9c 83%,#edbf47 100%); /* W3C */
													filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74cee4', endColorstr='#edbf47',GradientType=1 ); /* IE6-9 */
												}

/* Button colors and hover effects */
.button-white 					{ color: #6f6f6f !important; background-color: #ffffff !important; border-color: #6f6f6f !important; }
.button-white:hover 		{ color: #222222 !important; background-color: #ffffff !important; border-color: #6f6f6f !important; }

.button-grey 						{ color: #6f6f6f !important; background-color: #f1f1f1 !important; border-color: #f1f1f1 !important; }
.button-grey:hover 			{ color: #6f6f6f !important; background-color: #CCCCCC !important; border-color: #CCCCCC !important; }

.button-greydark 				{ color: #ffffff !important; background-color: #495052 !important; border-color: #495052 !important; }
.button-greydark:hover	{ color: #ffffff !important; background-color: #2E3233 !important; border-color: #2E3233 !important; }

.button-green 					{ color: #ffffff !important; background-color: #6fc191 !important; border-color: #6fc191 !important; }
.button-green:hover 		{ color: #ffffff !important; background-color: #61A87E !important; border-color: #61A87E !important; }

.button-blue 						{ color: #ffffff !important; background-color: #74cee4 !important; border-color: #74cee4 !important; }
.button-blue:hover 			{ color: #ffffff !important; background-color: #66B6CA !important; border-color: #66B6CA !important; }

.button-violet 					{ color: #ffffff !important; background-color: #c389ce !important; border-color: #c389ce !important; }
.button-violet:hover 		{ color: #ffffff !important; background-color: #AC78B5 !important; border-color: #AC78B5 !important; }

.button-orange 					{ color: #ffffff !important; background-color: #ec774b !important; border-color: #ec774b !important; }
.button-orange:hover 		{ color: #ffffff !important; background-color: #D46B43 !important; border-color: #D46B43 !important; }

.button-red							{ color: #ffffff !important; background-color: #e16c6c !important; border-color: #e16c6c !important; }
.button-red:hover 			{ color: #ffffff !important; background-color: #C75F5F !important; border-color: #C75F5F !important; }

.button-pink						{ color: #ffffff !important; background-color: #efa7c9 !important; border-color: #efa7c9 !important; }
.button-pink:hover			{ color: #ffffff !important; background-color: #d796b4 !important; border-color: #d796b4 !important; }

.button-yellow					{ color: #ffffff !important; background-color: #edbf47 !important; border-color: #edbf47 !important; }
.button-yellow:hover		{ color: #ffffff !important; background-color: #D4AB3F !important; border-color: #D4AB3F !important; }

.button-info						{ color: #ffffff !important; background-color: #1EAEDB !important; border-color: #1EAEDB !important; }
.button-info:hover			{ color: #ffffff !important; background-color: #188aae !important; border-color: #188aae !important; }

.button-error						{ color: #ffffff !important; background-color: #F44336 !important; border-color: #F44336 !important; }
.button-error:hover			{ color: #ffffff !important; background-color: #ea1c0d !important; border-color: #ea1c0d !important; }

.button-warning					{ color: #ffffff !important; background-color: #FFA726 !important; border-color: #FFA726 !important; }
.button-warning:hover		{ color: #ffffff !important; background-color: #f29000 !important; border-color: #f29000 !important; }

.button-success					{ color: #ffffff !important; background-color: #8BC34A !important; border-color: #8BC34A !important; }
.button-success:hover		{ color: #ffffff !important; background-color: #71a436 !important; border-color: #71a436 !important; }
